@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0; /* Keeps text color as black for contrast */
  --background-base: #ffffff; /* Set base background color to white */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 33, 33, 33;
    --background-end-rgb: 33, 33, 33;
    --background-base: #121212;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-base); /* Apply the white background color */
  /* Remove the gradient for a solid white background */
}

.break-words {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
